BasedOnStyle: Microsoft
# Basic formatting
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
TabWidth: 4

# Braces and indentation
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeWhile: false
  IndentBraces: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments

# Spaces
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeSquareBrackets: true
SpacesBeforeTrailingComments: 4
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 4

# Pointer and Reference
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Right
SpaceAroundPointerQualifiers: Before

# Other
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentExternBlock: NoIndent
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
BitFieldColonSpacing: Both
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
ReflowComments: true
SeparateDefinitionBlocks: Always
AccessModifierOffset: 0